body{
    background-color: #252525;
}
.container{
    background-color: #303030;
    width: 350px;
    height: 550px;
}
.buttons{
    padding: 15px;
    grid-gap: 8px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #252525;
}
.button{
    transition: 0.2s;
    box-shadow: inset rgba(128, 128, 128, 0.7) 0px 0px 10px;
    background-color: #101010;
    display: inline-block;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    text-align: center;
}
.button:hover{
    opacity: 0.6;
}
.button p{
    font-size: 20px;
    padding-top: 5px;
    color: #f6f6f6;
}
.islem{
    background-color: orangered;
}
.islem:hover{
    opacity: 0.9;
}
.zero{
    grid-column-start: 1 ;
    grid-column-end: 3;
    width: 160px;
    border-radius: 37.5px;
}
input{
    color: #f6f6f6;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
#islem{
    font-size: 30px;
    width: 342px;
    height: 40px;
}
#sonuc{
    font-size: 50px;
    width: 342px;
    height: 70px;
}
p{
    pointer-events: none;
}
.zero2{
    grid-column-start: 3 ;
    grid-column-end: 5;
    width: 160px;
    border-radius: 37.5px;
}